{% extends 'base.html.twig' %}

{% block title %}Reset Your password{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-6 col-8 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Reset Password</h5>
            <form class="form-signin" method="post">
                {% for messages in app.flashes('dangerToken') %}
						   <p class="text-center alert" style="background:maroon;font-weight:bold;color:white;">
                                 {{ messages }}
						      </p>
			     {% endfor %}

              <div class="form-label-group">
                <input type="password"   name="newpass" id="inputEmail" placeholder="Enter new password" class="form-control"  style="color:white;font-weight:bold;" required autofocus>
                <label for="inputEmail">New Password</label>
              </div>

              <div class="form-label-group">
               <input type="password" name="confirm" id="inputPassword" placeholder="Repeat password" class="form-control"  style="color:white;font-weight:bold;" autocomplete="current-password" required>
                <label for="inputPassword">Confirm Password</label>
              </div>

              <button class="form-control btn btn-lg btn-primary btn-block text-uppercase" style="background:purple;color:white;"type="submit">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--end reset builder -->
{% endblock %}
