{% extends 'base.html.twig' %}
{% block body %}
{% if app.user %}
 {% if app.user.title == "superadmin" %}
      {% include('admin/adminnavbar.html.twig') %}
  {% elseif app.user.title == "hods" %}
        {% include('hods/hodsnavbar.html.twig') %}
  {% else %}
  {% include('student_evaluation/index.html.twig') %}
  {% endif %}
      <!-- start main page -->
      <main class="content">
       <!-- Profile intro -->
         <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10">
                    <section class="purchase__card_section">
                      <p>
                       <i class="material-icons mdc-theme--primary mr-1">lock</i>  <span class="font-weight-bold" style="color:black;">Update Password</span>
                      </p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
           </div>
       <!-- end intro -->

       <!-- start form -->
             <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
               <section class="mdc-card__supporting-text">
               <!-- form start -->
                <form  action="#" method="post" class="mt-5">
                  <div class="mdc-layout-grid__inner">
                  <!--current -->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                          <div id="tf-box-leading-test" class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon w-100">
                            <i class="material-icons mdc-text-field__icon" tabindex="0">lock_open</i>
                            <input type="password" placeholder="Enter current password"name="oldpass"  class="mdc-text-field__input">
                            <div class="mdc-text-field__bottom-line"></div>
                          </div>
                            <p class="mdc-text-field-helper-text--validation-msg text-red font-weight-bold" id="name-validation-msg" style="font-size:.75rem;">
                               {% for messages in app.flashes('current') %}
                                    {{ messages}}
                               {% endfor %}
                          </p>
                        </div>
                      </div>
                    </div>
                   <!-- new password-->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                          <div id="tf-box-leading-example" class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon w-100">
                            <i class="material-icons mdc-text-field__icon" tabindex="0">lock</i>
                            <input required pattern=".{8,}" type="password" name="newpass" id="tf-box-leading" class="mdc-text-field__input" aria-controls="name-validation-message">
                            <label for="tf-box-leading" class="mdc-text-field__label">Enter new password</label>
                            <div class="mdc-text-field__bottom-line"></div>
                          </div>
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg font-weight-bold" id="name-validation-msg">
                            Must be at least 8 characters
                          </p>
                        </div>
                      </div>
                    </div>
                  <!-- end new password-->
                  <!-- confirm password -->
                    <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-4-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-wrapper">
                          <div id="tf-box-example" class="mdc-text-field mdc-text-field--box w-100">
                            <input required pattern=".{8,}" type="password" id="tf-box" name="conf" class="mdc-text-field__input" aria-controls="name-validation-message">
                            <label for="tf-box" class="mdc-text-field__label mt-4">Repeat Password</label>
                            <div class="mdc-text-field__bottom-line"></div>
                          </div>
                          <p class="mdc-text-field-helper-text--validation-msg text-red font-weight-bold" id="name-validation-msg" style="font-size:.75rem;">
                               {% for messages in app.flashes('mismatch') %}
                                    {{ messages}}
                               {% endfor %}
                          </p>
                        </div>
                       </div>
                     </div>
                    <!-- end confirm password-->
                    <!-- message action -->
                     <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-12-desktop">
                          <p class="align-item-center">
                              <i class="material-icons mdc-theme--secondary icon-md">security</i>
                               <span class="mdc-card__title mdc-card__title--middle text-lowercase text-centere">
                                "If you still use default password we advice you to change it"</span>
                          </p>
                     </div>
                    <!-- end message action -->
                    <!-- submit action -->
                     <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-12-desktop">
                          <p class="align-item-center">
                                   <button type="submit" class="mdc-button mdc-button--raised primary-filled-button text-lowercase mb-0" data-mdc-auto-init="MDCRipple">
                                        Update password
                                    </button>
                               </p>
                     </div>
                    <!-- end submit action -->

                   </form>
                   <!-- end form -->
                 </section>
                 </div>
                 </div>

         <!-- end form -->

      </main>
      <!-- end main page -->
{% endif %}
{% endblock %}